////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////

//Skill level bar color
$skill__bar_color: #4A4A4A;



////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////

//Font size
$font__size:(
	s : 16px,
	m : 20px,
	l : 24px,
	xl: 36px,
);

//Font weight
$font__weight: (
	light	: 300,
	regular : 400,
	bold	: 700,
);



////////////////////////////////////////////////////
// SKILL SCORE
////////////////////////////////////////////////////

$skill__score: (
	sketch      : 80%,
	html        : 90%,
	css         : 90%,
	sass        : 80%,
	jquery      : 70%,
	javascript  : 80%,
	react-js 	: 70%,
	vue-js 		: 70%,
);



////////////////////////////////////////////////////
// SIZE
////////////////////////////////////////////////////

$portrait__size: 76px;