////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////



////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////

//Font size
$font__size:(
	s : 16px,
	m : 20px,
	l : 24px,
	xl: 36px,
);

//Font weight
$font__weight: (
	light	: 300,
	regular : 400,
	bold	: 700,
);



////////////////////////////////////////////////////
// SIZE
////////////////////////////////////////////////////

$portrait__size: 76px;