/*-----------------------------------------------------
SKILL SECTION
-----------------------------------------------------*/

/*--Section | skill section--*/

.section__skill .section__item {	
	@include breakpoint(windows_l) {		
		//display: flex
		-webkit-display        : flex;
		-moz-display           : flex;
		-ms-display            : flex;
		display                : flex;
		
		//flex-direction: row
		-webkit-flex-direction : row;
		-moz-flex-direction    : row;
		-ms-flex-direction     : row;
		flex-direction         : row;
	}
}

.section__skill .section__item {
	@include breakpoint(windows_l) {		
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap   : wrap;
		-ms-flex-wrap    : wrap;
		flex-wrap        : wrap;
	}
}

.skill__item {
	@include breakpoint(windows_l) {	
		@include fluid-grid(2, $gutter: 32px);
		margin-right     : auto;
	}
}