/*-----------------------------------------------------
LINE ON SIDE
-----------------------------------------------------*/

/*--Line On Side--*/

.line-on-side {
    overflow        : hidden;
    text-align      : center;
}

.line-on-side:before,
.line-on-side:after {
    background-color: rgba($color: #000000, $alpha: 0.12);
    content         : "";
    display         : inline-block;
    height          : 1px;
    position        : relative;
    vertical-align  : middle;
    width           : 50%;
}

.line-on-side:before {
    right           : 8px;
    margin-left     : -50%;
}

.line-on-side:after {
    left            : 8px;
    margin-right    : -50%;
}