/*-----------------------------------------------------
BASIC
-----------------------------------------------------*/

body {
    font-family     : 'NotoSans', sans-serif, 'NotoSansCJK', '微軟正黑體', 'Microsoft JhengHei';
    max-width       : 768px;
    margin          : 0 auto;
    padding-bottom  : 64px;
}

main {
    max-width       : 516px;
    margin          : 0 auto;
    padding-left    : 30px;
    padding-right   : 30px;
}

