/*-----------------------------------------------------
FONT WEIGHT
-----------------------------------------------------*/

@each $weight, $val in $font__weight {
	%font__weight_#{$weight} {
		font-weight: $val;
	}
}



/*-----------------------------------------------------
FONT SIZE
-----------------------------------------------------*/

@each $level, $val in $font__size {
	%font__size_#{$level} {
		font-size: $val;
	}
}



/*-----------------------------------------------------
CURSOR PROPERTY
-----------------------------------------------------*/

%cursor__pointer {
	cursor: pointer;
}



/*-----------------------------------------------------
FULL WIDTH
-----------------------------------------------------*/
%width_full {
	width: 100%;
}



/*-----------------------------------------------------
TEXT FORMATTING
-----------------------------------------------------*/

//Text overflow | single line
%text__overflow_single-line {
	overflow      : hidden;
	white-space   : nowrap;
	text-overflow : ellipsis;
}



/*-----------------------------------------------------
SKILL BAR | default setting
-----------------------------------------------------*/

%skill__level_def {
	width           : 0%;
	height          : 100%;
	background-color: $skill__bar_color;
}



/*-----------------------------------------------------
Typography
-----------------------------------------------------*/

%text__transform__uppercase {
    text-transform  : uppercase;
}

%font_heading {
    font-weight     : 600;
    font-size       : 14px;
    letter-spacing  : 1px;
    line-height     : 28px;
    color           : rgba($color: #000000, $alpha: 0.87);
}