/*-----------------------------------------------------
TYPOGRAPHY
-----------------------------------------------------*/

/*--Basic Style--*/

/*--Header Style--*/

header {
    @extend %text__transform__uppercase;
    text-align      : center;
    color           : white;
    letter-spacing  : 2px;
}

header .title {
    font-size       : 24px;
}

.caption {
    font-size       : 12px;
    letter-spacing  : 1px;
}

header .line-on-side:before,
header .line-on-side:after {
    background-color: white;
}

/*--Main Style--*/

.subtitle {
    @extend %text__transform__uppercase;
    font-weight     : 500;
    font-size       : 14px;
    letter-spacing  : 1px;
    color           : rgba($color: #000000, $alpha: 0.54);
    text-align      : center;
    margin          : 32px auto;
}

/*--Icon With Text Style--*/

.icon-with-text {
    font-weight     : 400;
    color           : rgba($color: #000000, $alpha: 0.87);
    font-size       : 14px;
    letter-spacing  : 1px;
    a:link,
    a:visited,
    a:active,
    a:hover {
        color       : inherit;
    }
}

/*--Education Section Style--*/

.education__date {
    color       : white;
    line-height : 30px;
}

.education__heading {
    @extend %font_heading;
}

.education__duration {
    @extend .education__heading;
    font-style : italic;
}

.education__description {
    @extend .education__heading;
    color      : rgba($color: #000000, $alpha: 0.54);
    font-weight: 400;
}

/*--Work Section Style--*/

.work__heading {
    @extend %font_heading;
}

.work__duration {
    @extend .work__heading;
    font-style: italic;
}

.work__description {
    @extend .work__heading;
    color      : rgba($color: #000000, $alpha: 0.54);
    font-weight: 400;
}

/*--Skill Section Style--*/
.skill__name {
    font-size       : 14px;
    font-weight     : 400;
    letter-spacing  : 1px;
    color           : rgba($color: #000000, $alpha: 0.87);
	text-align      : left;
}

.skill__score {
	font-size       : 12px;
    font-weight     : 400;
    letter-spacing  : 1px;
    color           : rgba($color: #000000, $alpha: 0.38);
	text-align      : right;
}